QPushButton {
  background-color: #3399FF;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

QPushButton:pressed {
  background-color: #0080FF;
}

QPushButton:disabled {
   background-color: #C0C0C0;
}

QMainWindow {
    background-color: white;
}

QListWidget {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
